/** ELEMENTS **/

section {
    display: flex;
    flex-direction: row;
    width: 100vw;
}

app-current-list {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

input {
    background-color: #ccc;
    width: 160px;
    margin: 0px 13px 10px 0px;
    border: 2px solid #666;
    padding: 2px;
}

textarea {
    background-color: #ccc;
    border: 2px solid #666;
    padding: 2px;
    resize: none;
}

textarea::placeholder {
    font-family: sans-serif;
}

select {
    background-color: #ccc;
}

/** IDs **/

#main {
    display: flex;
    flex-direction: column;
    width: 260px;
    padding: 30px;
    margin: 0px;
}

#add-new {
    cursor: pointer;
}

#new-list-form {
    display: flex;
    flex-direction: column;
}

#form-buttons {
    display: flex;
    flex-direction: row;
}

#submit {
    margin-right: 15px;
}

#warning {
    color: #962c2c;
    margin: 10px 0px;
}


/** CLASSES **/

.empty-warning {
    border: 2px solid #962c2c;
}

.small-button {
    font-size: 20px;
    height: 28px;
    width: 125px;
    color: #ccc;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 10px 15px 0px;
    margin: 10px 0px 0px;
}

.small-button:hover {
    cursor: pointer;
    color: #222;
    background-color: #ccc;
    border: 1px solid #ccc;
}