div {
    display: flex;
    flex-direction: row;
    width: 100vw;
}

main {
    display: flex;
    flex-direction: row;
    width: 50%;
    margin: 0px 20px;
    box-sizing: border-box;
}

app-current-list {
    display: flex;
    flex-direction: column;
    width: 50%;
    box-sizing: border-box;
}