header {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(#222, #111); /* subtle */
    width: 100vw;
    height: 70px;
    justify-content: left;
    padding: 11px 30px;
    box-sizing: border-box;
}

h1 {
    font-size: 2rem;
    font-weight: 100;
    text-align: left;
    margin: 10px 0px;
}